POLYMARKET_DATA_API=https://data-api.polymarket.com
POLYMARKET_GAMMA_API=https://gamma-api.polymarket.com
POLYMARKET_CLOB_API=https://clob.polymarket.com
PORT=3001
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
